body{
    text-align: center;
    font-family: 'Lora', serif;
    background-image: url(https://backiee.com/static/wpdb/wallpapers/560x315/178415.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation:slide 10s infinite;
}
#bh {
    color: #FFFFFF;
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
section{
    color: #C7FFED;
}
#what {
    padding: 50px;
    text-align: center;
}
h1 {
    font-size: 40px;
    font-weight: 300;
}
.making{
    width: 100%;
    height: 100%
}
.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
#making iframe
{
    width: 80%;
}
input
{
    background: #DEE2E6;
}
.section-top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
   
}
.content{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
@keyframes slide{
    0%{
        background-image: url(https://backiee.com/static/wpdb/wallpapers/560x315/180182.jpg)
    }
        33%{
        background-image: url(https://backiee.com/static/wpdb/wallpapers/560x315/219179.jpg)
    }
        66%{
        background-image: url(https://backiee.com/static/wpdb/wallpapers/560x315/229093.jpg)
    }
}
#left{
 text-align: left;
}
